<mat-toolbar>
  <span><img class="logo" src="assets/slalom.png"></span>
  <span class="fill"></span>
  <span>RoboBar Orders</span>
</mat-toolbar>

<div class="content">
  <mat-card *ngFor="let order of orders$ | async" class="flex">
    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(order.imageUrl)">
    <h1>{{order.drinkId}}</h1>
    <button mat-button (click)="deleteOrder(order.orderId)">Remove</button>
  </mat-card>
</div>