.flex {
    display: flex;
}
.fill {
    flex: 1 1 auto;
}

.logo {
    height: 40px;
}

.content {
    padding: 1rem;
    mat-card {
        // min-height: 340px;
        margin-top: 1rem;
        align-items: center;
        justify-content: space-between;
        img {
            // transform: rotate(270deg);
            width: 16%;
        }
    }
}